// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}


// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.hr-technow {
  background: #00D5FF;
  height: 5px;
}

.button { background-color: #2C65B0!important; padding-bottom: 8px!important; }
ul { margin-bottom: 20px; }
ul li { list-style-type: disc; margin-left: 20px; }

.twitter-typeahead {
  width: 100%;
}
.twitter-typeahead .tt-menu {
  background: #fff;
  box-sizing: border-box;
  width: 100%;
  padding: 5px 4px 4px;
  outline: 3px solid #FFBF47;
  outline-offset: -2px;
  line-height: normal;
}
.twitter-typeahead .tt-menu strong {
  font-weight: bold;
}
.twitter-typeahead .tt-menu .tt-selectable {
  cursor: pointer;
  margin: 0;
  padding: 2px;
}
.twitter-typeahead .tt-menu .tt-selectable:hover {
  background-color: #005EA5;
  color: #fff;
}
@media (min-width: 641px) {
  .twitter-typeahead .tt-menu {
    max-width: 50%;
  }
}
