/*

    GLOBAL RESETS
    =============

    Standard reset styles and a few extra bits and pieces including
    setting border-box on all elements.

*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

html {
  font-size: 100%; }

body {
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
  line-height: 24px;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #fff;
  background-color: #fefefe;
}


article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block; }



blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent; }

ins, mark {
  background: #333;
  color: #fff;
  text-decoration: none; }

mark {
  display: inline-block;
  padding: .1em;
  text-shadow: none;
  background: #f2d3a9;
  color: #a93901;
  border-radius: 2px; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

blockquote {
  color: #232f3e;
  font-size: 1.2em;
  line-height: 1.6em;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 0;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

cite {
  display: block;
  font-weight: 600;
  font-size: 0.9em;
  font-style: normal;
  clear: both;
  width: 100%;
  padding-top: 10px!important;
}

::-moz-selection, ::-webkit-selection, ::selection {
  text-shadow: none;
  background: #333;
  color: #fff; }

.cf:before, .cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  zoom: 1; }

[type=submit] {
  cursor: pointer; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

/*

    MIXINS AND VARIABLES
    ====================

    All mixins and variables live here. Where possible, please include
    a source link if they're written by someone else along with an
    indication of how they should be used in the css files.

*/
/* Colour Palette */
/* REM Font sizing - http://blog.divshot.com/post/29552945105/useful-sass-mixins-for-responsive-design-font-sizing */
/* Define Media Queries - http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/ */
/* Hover animation */
/* Gradient */
/* Clearfix http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/ */
/* Visually hide element http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/ */
::selection {
  background: #745a9d;
  /* WebKit/Blink Browsers */
  color: #fff; }

::-moz-selection {
  background: #745a9d;
  /* Gecko Browsers */
  color: #fff; }

  /*8*/

.wrapper {
  padding: 0px 80px 0 80px;
}

.header-wrapper {
  font-weight: 700;
  color: #333333;
  background: #fff;
  padding: 50px 0px 11px 0px;
}

.header-wrapper div {
  background: #fff;
}

.nav { margin-top: 10px; }

.nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  float: right;
}

.nav li {
  font-size: 0.8em;
}

.nav a {
  text-decoration: none;
  color: #222;
  display: block;
}

.nav a:hover {
  color: #333;
}

.nav a.active {
  background-color: #fff;
  color: #222;
  cursor: default;
  padding-bottom: 5px;
  border-bottom: 3px solid #745a9d;
}

@media screen and (min-width: 600px) {

  .nav li {
    width: auto;
    border-bottom: none;
    font-size: 1em;
    padding-left: 60px;
    padding-right: 5px;
  }

  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }





.main-content {
  position: relative;
  z-index: 9999;
  margin: 60px 0;
 }

@media only screen and (max-width: 30em) { }

.main-content h1 {
  color: #1D282F;
  font-style: normal;
  font-size: 2.6em;
  line-height: 50px;
  padding-bottom: 5px;
}

@media only screen and (max-width: 30em) {
  .main-content h1 {
    font-size: 28px;
    line-height: 38px;
  }
}

.main-content h2 {
  color: #1D282F;
  font-style: normal;
  font-weight: lighter;
  font-size: 2.2em;
  line-height: 50px;
  padding-bottom: 5px;
}

@media only screen and (max-width: 30em) {
  .main-content h1 {
    font-size: 28px;
    line-height: 38px;
  }
}

.main-content h3 {
  font-style: normal;
  color: #333333;
  font-size: 22px;
  line-height: 38px;
  margin: 0px;
  padding-bottom: 10px;
}

.main-content h4 {
  font-style: normal;
  color: #333333;
  font-size: 24px;
  line-height: 32px;
  margin: 0px;
  padding-bottom: 10px;
}

.main-content p {
  padding: 10px 0;
  color: #1D282F;
  font-size: 1.2em;
  line-height: 28px;
}

.main-content li {
  padding: 10px 0;
  color: #1D282F;
  font-size: 1.2em;
  line-height: 28px;
  margin-left: 40px;
}

.main-content a:link, .main-content a:hover, .main-content a:visited {
  font-size: 0.9em;
  color: #1D282F;
  width: auto;
  margin-top: 20px;
  padding: 6px 0;
  border-bottom: 3px solid #745a9d;
  text-decoration: none;
  font-weight: 600; }

.main-content a:hover {
  -webkit-transition: background-color 0.3s ease-in;
  -moz-transition: background-color 0.3s ease-in;
  -ms-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}

.video { margin-top: 50px; }

.hr-small {
  display: block;
  height: 3px;
  width: 120px;
  margin: 10px 0;
  background: #513184;
}

.vacancy-section {
  display: inline-block;
  background-color: #DCE1EB;
  margin-top: 60px;
}


.vacancy-box {
  margin-bottom: 30px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 25px 1px rgba(194,194,194,.6);
  -moz-box-shadow: 0px 0px 25px 1px rgba(194,194,194,.6);
  box-shadow: 0px 0px 25px 1px rgba(194,194,194,.6);
  padding: 30px;
  border-radius: 4px;
}

.vacancy-box ul {
  list-style: none;

  li {
    margin-left: none;
  }
}

.vacancy-box ul li

.vacancy-box-button p {
  display: inline-block;
  color: #24BCB8;
  font-size: 1.1em;
}


.row {
  margin-bottom: 30px; }





.speaker {
  position: relative;
  overflow: hidden;
}

.speaker img {

}

.img1 {
  height: 390px;
  background-image: url(assets/images/po.jpg);
}

/*

    SITEWIDE LAYOUT ELEMENTS
    ========================

    Top level layout elements go in here, if you're building a module or page
    element of some sort, split it out into its own scss file and update
    styles.scss to import it.

*/


img,
a img {
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  min-height: auto;
  vertical-align: middle; }




.float-left {
  float: left; }

.float-right {
  float: right; }


.footer {
  display: inline-block;
  background-color: #745a9d;
  padding: 30px 0 60px 0;
}

.meta p {
text-align: right;
  color: #FFFFFF;
  font-size: 1em;
  padding: 20px 0;
}

.address p {
  color: #FFFFFF;
  font-size: 1em;
  padding: 20px 0;
}

.address p a:link { text-decoration: underline; color: white; }
.address p a:visited { text-decoration: underline; color: #fefefe; }

pre, code {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal; }

/*

    GENEAL FORM STUFF
    =================

    This is more reset based stuff, if you've got a specific form, it would be
    best to create it as a partial scss file and import it to screen.scss

*/
form {
  margin: 0; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
 }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/*

    HOME LAYOUT ELEMENTS
    ========================

    Top level layout elements go in here, if you're building a module or page
    element of some sort, split it out into its own scss file and update
    styles.scss to import it.

*/


/*

    HOME LAYOUT ELEMENTS
    ========================

    Top level layout elements go in here, if you're building a module or page
    element of some sort, split it out into its own scss file and update
    styles.scss to import it.

*/
#images {
  margin: 0 auto;
}
.speakers {
  display: inline-block;
 }
