{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
      <div class="column-full">
        <div class="column-two-thirds">
          <h2 class="heading-medium">How should we contact you?</h2>
          <form>
            <div class="form-group">
              <fieldset>
                <legend class="visually-hidden">How do you want to be contacted?</legend>

                <div class="multiple-choice" data-target="contact-by-email">
                  <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
                  <label for="example-contact-by-email">Email</label>
                </div>
                <div class="panel panel-border-narrow js-hidden" id="contact-by-email">
                  <label class="form-label" for="contact-email">Email address</label>
                  <input class="form-control" name="contact-email" type="text" id="contact-phone">
                </div>

                <div class="multiple-choice" data-target="contact-by-phone">
                  <input id="example-contact-by-phone" type="radio" name="radio-contact-group" value="No">
                  <label for="example-contact-by-phone">Phone</label>
                </div>
                <div class="panel panel-border-narrow js-hidden" id="contact-by-phone">
                  <label class="form-label" for="contact-phone">Telephone number</label>
                  <input class="form-control typeahead" name="contact-phone" type="text" id="contact-phone">
                </div>
              </fieldset>
            </div>
          </form>

          <a class="button" href="finish" role="button">Submit</a>
        </div>
      </div>
    </div>


</main>

{% endblock %}
