{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
      <div class="column-full">
        <div class="column-two-thirds">
          <h2 class="heading-large">How do you want to report your issue?</h2>
          <form>
            <div class="form-group">
              <fieldset>

                <legend class="visually-hidden">How do you want to report your issue?</legend>

                <div class="multiple-choice" data-target="contact-by-email">
                  <input id="example-contact-by-email" type="radio" name="reporttype" value="/chat">
                  <label for="example-contact-by-email">Chat</label>
                </div>

                <div class="multiple-choice" data-target="contact-by-phone">
                  <input id="example-contact-by-phone" type="radio" name="reporttype" value="No">
                  <label for="example-contact-by-phone">Online</label>
                </div>

                <div class="multiple-choice" data-target="contact-by-text">
                  <input id="example-contact-by-text" type="radio" name="reporttype" value="No">
                  <label for="example-contact-by-text">Phone</label>
                </div>
              </fieldset>
            </div>
          </form>
          <input class="button" type="submit" value="Continue">
        </div>
      </div>
    </div>


</main>

{% endblock %}
