{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
      <div class="column-full">
        <div class="column-two-thirds">
          <h2 class="heading-large">Issue submitted<br/>
            <span class="heading-small">Incident number: INC483598</span>
          </h2>
          <p> We have received your issue and will aim to resolve it within 5 days.</p>
          <p>You can access your open incidents on the TechNow homepage.</p>
        </div>
      </div>
    </div>


</main>

{% endblock %}
