{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
      <div class="column-full">
        <div class="column-two-thirds">
          <h2 class="heading-large">Report an issue</h2>
          <p>Tell us about your issue so that we can make sure the right person deals with it.</p>
          <h3 class="heading-small">Who are you reporting the issue for?</h3>
          <form>
            <div class="form-group">
              <fieldset>

                <legend class="visually-hidden">How do you want to be contacted?</legend>

                <div class="multiple-choice" data-target="contact-by-email">
                  <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
                  <label for="example-contact-by-email">Me</label>
                </div>


                <div class="multiple-choice" data-target="contact-by-phone">
                  <input id="example-contact-by-phone" type="radio" name="radio-contact-group" value="No">
                  <label for="example-contact-by-phone">Someone else</label>
                </div>
                <div class="panel panel-border-narrow js-hidden" id="contact-by-phone">
                  <label class="form-label" for="contact-phone">Their name</label>
                  <input class="form-control typeahead" name="contact-phone" type="text" id="contact-phone">
                </div>
              </fieldset>
            </div>


          </form>

          <div class="form-group">
            <label class="form-label-bold" for="full-name-f1">What is the device number?</label>
            <span class="form-hint">
              You can find this by selecting the Computer Info icon on your desktop. For example, DWD748575.
            </span>
            <input class="form-control" id="full-name-f1" type="text">
          </div>
          <a class="button" href="the-issue" role="button">Continue</a>
        </div>
      </div>
    </div>


</main>

{% endblock %}
